@use "../abstracts/colors" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   font-family: 'Nunito Sans', sans-serif !important;
 
}

body.not-active{
    overflow-y: hidden;
    padding-right: var(--scrollbar-width);
}

a{
    text-decoration: none !important;
}