$black:black;
$black-30:rgba(0, 0, 0, 0.3);
$black-80:rgba(0, 0, 0, 0.8);
$black-70:rgba(0, 0, 0, 0.7);
$black-60:rgba(0, 0, 0, 0.6);

$white:white;
$white-80:#ffffffcc;
$white-f8:#f8f8f8;

$grey-c2:#acacac;
$grey-70:rgba(0, 0, 0, 0.7);
$grey-e9:#e9e9e9;
$grey-a4:#a7a4a4;
$grey-6c:#6c6c6c;

$orange-33:#fd9c33;
$orange-47:#fca447;
$orange-43:#fca243;
$orange-37:#f89b37;

$blue-7d:#1b4e7d;
$blue-d1:#8d9fad;
$blue-b4:#2075b4;
$blue-9f:#005c9f;
$blue-8b:#13598b;
$blue-d6:#2480d6;
$blue-f3:#166fc3;
$blue-c5:#006fc5;

$box-shadow-1: 0px 0px 8px 1px rgba(0,0,0,0.06);
$box-shadow-2: 0px 0px 10px -1px rgba(0,0,0,0.2);
$box-shadow-3: 0px 0px 5px 2px rgba(0,0,0,0.05);