$black:black;
$black-30:rgba(0, 0, 0, 0.3);
$black-60:rgba(0, 0, 0, 0.6);

$white:white;
$white-80:#ffffffcc;
$white-f8:#f8f8f8;

$grey-c2:#acacac;
$grey-70:rgba(0, 0, 0, 0.7);
$grey-e9:#e9e9e9;

$orange-33:#fd9c33;
$orange-47:#fca447;
$orange-43:#fca243;
$orange-37:#f89b37;

$blue-7d:#1b4e7d;
$blue-d1:#8d9fad;

$box-shadow-1: 0px 0px 12px 2px rgba(0,0,0,0.08);
$box-shadow-2: 0px 0px 10px -1px rgba(0,0,0,0.2);