$fs-14px:0.73vw;
$fs-15px:0.79vw;
$fs-16px:0.83vw;
$fs-17px:0.89vw;
$fs-18px:0.93vw;

$fs-19px:0.989vw;
$fs-19_5px:1.032vw;
$fs-20px:1.05vw;
$fs-20_5px:1.05vw;
$fs-21px:1.1vw;
$fs-22px:1.15vw;
$fs-23px:1.2vw;
$fs-24px:1.25vw;
$fs-25px:1.304vw;
$fs-26px:1.36vw;
$fs-27px:1.4065vw;
$fs-28px:1.45vw;
$fs-29px:1.5vw;
$fs-30px:1.57vw;
$fs-31px:1.61vw;
$fs-32px:1.65vw;
$fs-33px:1.71vw;
$fs-34px:1.75vw;
$fs-35px:1.8vw;
$fs-35_5px:1.84vw;
$fs-36px:1.9vw;
$fs-37px:1.965vw;
$fs-38px:2vw;
$fs-39px:2.03vw;
$fs-40px:2.067vw;
$fs-41px:2.14vw;
$fs-42px:2.2vw;
$fs-44px:2.3vw;
$fs-45px:2.34vw;
$fs-46px:2.4vw;
$fs-47px:2.45vw;
$fs-48px:2.5vw;
$fs-49px:2.56vw;
$fs-50px:2.61vw;
$fs-51px:2.66vw;
$fs-52px:2.75vw;
$fs-53px:2.765vw;
$fs-54px:2.813vw;
$fs-55px:2.9vw;
$fs-57px:2.98vw;
$fs-58px:3.04vw;
$fs-60px:3.13vw;
$fs-62px:3.14vw;
$fs-63px:3.15vw;
$fs-64px:3.367vw;
$fs-65px:3.4vw;
$fs-67px:3.5vw;
$fs-70px:3.6vw;
$fs-72px:3.67vw;
$fs-74px:3.86vw;
$fs-75px:3.91vw;
$fs-76px:3.957vw;
$fs-77px:4vw;
$fs-78px:4.1vw;
$fs-80px:4.2vw;
$fs-85px:4.4vw;
$fs-87px:4.53vw;
$fs-89px:4.66vw;
$fs-90px:4.69vw;
$fs-91px:4.7vw;
$fs-92px:4.75vw;
$fs-94px:4.89vw;
$fs-96px:5vw;
$fs-100px:5.2vw;
$fs-103px:5.37vw;
$fs-104px:5.48vw;
$fs-109px:5.67vw;
$fs-110px:5.75vw;
$fs-113px:5.9vw;
$fs-115px:5.98vw;
$fs-120px:6.25vw;
$fs-125px:6.51vw;
$fs-126px:6.6vw;
$fs-128px:6.67vw;
$fs-130px:6.8vw;
$fs-135px:7.05vw;
$fs-138px:7.2vw;
$fs-140px:7.3vw;
$fs-145px:7.5vw;
$fs-148px:7.46vw;
$fs-150px:7.5vw;
$fs-155px:7.7vw;
$fs-160px:8.5vw;
$fs-170px:8.89vw;
$fs-174px:9.063vw;
$fs-177px:9.23vw;
$fs-184px:9.6vw;
$fs-190px:9.9vw;
$fs-194px:10.1vw;
$fs-204px:10.63vw;
$fs-210px:10.7vw;
$fs-215px:11.2vw;
$fs-220px:11.46vw;
$fs-225px:11.72vw;
$fs-245px:12.76vw;
$fs-250px:13.5vw;
$fs-268px:14vw;
$fs-278px:14.5vw;
$fs-280px:14.59vw;
$fs-292px:15.22vw;
$fs-295px:15.365vw;
$fs-299px: 15.57vw;
$fs-311px:16.2vw;
$fs-314px:16.3vw;
$fs-320px:16.7vw;
$fs-340px:17.7vw;
$fs-352px:18.334vw;
$fs-355px:18.5vw;
$fs-390px:20.34vw;
$fs-395px:20.57vw;
$fs-400px:21vw;
$fs-410px:21.355vw;
$fs-436px:22.71vw;
$fs-445px:23vw;

$fs-452px:23.5vw;
$fs-480px:25vw;
$fs-576px:30vw;
$fs-590px:30.73vw;
$fs-615px:32.03vw;
$fs-640px:33.34vw;
$fs-664px:34.59vw;
$fs-690px:36vw;
$fs-748px:39vw;
$fs-750px:39.3vw;
$fs-979px:50.99vw;
$fs-1267px:66vw;
$fs-1324px:69vw;
$fs-1355px:70.57vw;
$fs-1550px:81vw;