@use "../abstracts/index" as *;

footer{
    position: relative;
    .social-header-container{
        padding-top: clamp(25px,6.7%, 6.7%);
        background-color: $white-f8;
        padding-bottom: 11.5%;
        h2 {
            font-family: "Lato", sans-serif !important;
            font-size: clamp(24px, $fs-48px, $fs-48px);
            font-weight: 900;
            text-align: center;
            margin-bottom: clamp(10px, $fs-20px, $fs-20px);
        }
        .company-name{
            font-family: "Lato", sans-serif !important;
            color: $blue-b4;
            text-align: center;
            font-size: clamp(14px, $fs-23px, $fs-23px);
            font-weight: 500;
        }
    }
    .social-card-wrapper{
        .social-card-container{
            .social-card-inner-container{
                position: absolute;
                top: 10.5%;
                left: 0;
                right: 0;
                padding-inline: clamp(25px,6%, 6%);
                margin-bottom: 10%;
                display: flex;
                justify-content: center;
                margin-top: clamp(20px, 9.5%, 9.5%) ;
                .social-card{
                    width: clamp(100px, $fs-320px, 320px);
                    height: clamp(100px, $fs-320px, 320px);
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease-in;
                    }
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .social-indicator-container{
            display: flex;
            align-items: center;
            gap: 30px;
            justify-content: center;
            button{
                border: none;
                background-color: transparent;
                gap: 30px;
                box-shadow: $box-shadow-1;
                border-radius: 50%;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: $black-80;
                    img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
    
   
    .footer-content-wrapper{
        padding: clamp(20px, 16%, 16%) clamp(25px,8.4%, 8.4%) clamp(20px, 5.5%, 5.5%);
        .footer-content-container{
            display: flex;
            gap: clamp(25px, $fs-135px, $fs-135px);
        
            .footer-content{
                font-family: "Lato", sans-serif !important;
                font-size: clamp(12px, $fs-18px, $fs-18px);
                font-weight: 400;
                width: clamp(220px, $fs-480px, $fs-480px);
                .footer-logo{
                    margin-bottom: clamp(15px, $fs-40px, $fs-40px);
                    width: clamp(170px, $fs-352px, $fs-352px);
                }
                .desc-1{
                    color: $grey-6c;
                    font-style: italic;
                    font-weight: 500;
                    margin-bottom: clamp(20px, $fs-45px, $fs-45px);
                }
                .desc-2{
                    font-size: clamp(12px, $fs-19_5px, $fs-19_5px);
                    color: $grey-a4;
                    margin-bottom: clamp(20px, $fs-50px, $fs-50px);
                }
                .social-link-container{
                    ul{
                        display: flex;
                        gap: clamp(15px, $fs-24px, $fs-24px);
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        li{
                            a{
                                display: block;
                                width: clamp(26px, $fs-35px, 34px);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    transition: all 0.3s ease-in-out;
                                }
                                &:hover img{
                                    transform: translateY(-5px)
                                }
                            }
                        }
                    }
                }
                
            }
            .about,.our-services,.contact{
                padding-top: 5.6%;
                font-family: "Lato", sans-serif !important;
                h3{
                    font-size: clamp(14px, $fs-25px, $fs-25px);
                    color:$black-60;
                    font-weight: 600;
                    margin-bottom: clamp(20px, $fs-44px, $fs-44px);
                }
                ul{
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: clamp(10px, $fs-23px, $fs-23px);
                    margin-bottom: 0;
                    li{
                        a{
                            color: $grey-a4;
                            font-size: clamp(12px, $fs-18px, $fs-18px);
                            transition: all 0.3s ease-in-out;
                            display: inline-block;
                        }
                        a:hover{
                            text-decoration: underline!important;
                            
                        }
                    }
                }
            }
            .contact{

                .city{
                    font-size: clamp(14px, $fs-22px, $fs-22px);
                    color:$black-70;
                    font-weight: 600;
                    line-height: 1;
                    margin-bottom: clamp(12px, $fs-20px, $fs-20px);
                }
                p{
                    line-height: 1;
                    color: $grey-a4;
                    font-size: clamp(12px, $fs-18px, $fs-18px);
                    margin-bottom: 12px;
                }
                .address-1{
                    margin-bottom: clamp(20px, $fs-45px, $fs-45px);
                }
                
            }
        }

    }
    .copyright-container{
        background-color: $black;
        display: flex;
        justify-content: space-between;
        padding: clamp(14px, $fs-28px, $fs-28px) clamp(25px,8.4%, 8.4%) ;
        font-family: "Lato", sans-serif !important;
        font-size: clamp(11px, $fs-17px, $fs-17px);
        color: $grey-a4;

        p{
            margin-bottom: 0;
        }
        div{
            a{
                display: inline-block;
                color: $grey-a4;
                &:hover{
                    color: $white-80;
                }
            }
            .privacy-link{
                border-right: 2px solid $grey-a4;
                padding-right: 8px;
            }
            .terms-link{
                padding-left: 8px;
            }
        }
    }
    .chat-btn-container{
        position: fixed;
        bottom: clamp(35px, $fs-70px, $fs-70px);
        right: clamp(25px, $fs-60px, $fs-60px);
        border-radius: 50%;
        z-index: 7;
        .chat-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: clamp(50px, $fs-100px, $fs-100px);
            height: clamp(50px, $fs-100px, $fs-100px);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border: none;
            background-color: $blue-9f;
            img{
                width: clamp(25px, $fs-54px, $fs-54px);
            }
            &:hover{
                background-color: $blue-8b;
            }
        }
    }
   
    
}
    

@media screen and (max-width:1400px){
    footer .footer-content-wrapper .footer-content-container{
        justify-content: space-between;
        gap:  clamp(25px, $fs-125px, $fs-125px);
        .contact p{
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width:1200px){
    footer .footer-content-wrapper{
        padding: clamp(20px, 16%, 16%) clamp(25px, 7%, 7%) clamp(20px, 5.5%, 5.5%);
        .footer-content-container{
            justify-content: space-between;
            gap:  clamp(25px, $fs-113px, $fs-113px);
            .about,.contact{
                ul{
                    gap: clamp(9px, $fs-20px, $fs-20px);
                }
            } 
            .contact p{
                margin-bottom: 8px;
            }
        }
    }

}

@media screen and (max-width:1024px){
    footer{
        .social-card-wrapper
        .social-card-container
            .social-card-inner-container{
            top: 10%;
        }
        .footer-content-wrapper{
            padding: clamp(170px, 16%, 16%) clamp(20px, 5%, 5%) clamp(20px, 5.5%, 5.5%);
            .footer-content-container{
                gap:  clamp(25px, $fs-80px, $fs-80px);
            }
        }
    } 
}

@media screen and (max-width:860px){
    footer .footer-content-wrapper{
        .footer-content-container{
            flex-wrap: wrap;
            .footer-content{
                width: 55%;
                .desc-2{
                    font-size: 13px;
                }
            }
            .about,.contact{
                padding-top: 0;
                width: 40%;
                align-self: flex-end;
                padding-left: 11%;
                margin: 0 auto;
            }
            .our-services{
                padding-top: 0;
                width: 55%;
            }
        }
    }
}

@media screen and (max-width:768px){
    footer{
        .social-header-container{
            padding-bottom: clamp(25px, 6.7%, 6.7%);
        }
        .social-card-wrapper{
            padding: clamp(25px, 5.5%, 5.5%) clamp(20px, 6%, 6%) clamp(30px, 5.5%, 5.5%);
            .social-card-container{
                overflow: hidden;
                .social-card-inner-container{
                    padding-inline: 0;
                    top:unset;
                    left: unset;
                    right: unset;
                    position: relative;
                    width: 100%;
                    gap: 30px;
                    justify-content: flex-start;
                    margin: 20px 0 35px;

                // flex-wrap: wrap;
                
                .social-card{
                    flex: 0 0 auto;
                    width: calc(50% - 15px);
                    height: auto;
                }
            }

            }
        }
        .footer-content-wrapper{
            padding-top: 0px;
            .footer-content-container{
            .about,.contact{
                padding-left: 2%;
            }
           
        }
        }
    } 
   
}

@media screen and (max-width:600px){
    footer .footer-content-wrapper .footer-content-container{
        .footer-content {
            width: 100%;
            font-size: 14px;

            .desc-2{
                font-size: 14px;
            }

            .social-link-container ul li a{
                width: 28px;
            }
            
        }
        .about{
            width: 40%;
            padding-left: 0;
            margin: 0;
            h3{
                font-size: 16px;
            }

            ul li a{
                font-size: 14px;
            }
        }
        .our-services{
            width: 40%;
             h3{
                font-size: 16px;
            }
            ul li a{
                font-size: 14px;
            }
        }
        .contact{
            margin: 0;
            width: 100%;
            padding-left: 0;
             h3{
                font-size: 16px;
            }
            .city{
                font-size: 15px;
            }
            p{
                font-size: 14px;
            }
        }
    } 
}

@media screen and (max-width:480px){
    footer{
        
         .social-card-wrapper .social-card-container{
            width: 80%;
            margin: 0 auto;
            .social-card-inner-container{
                width: 100%;
                
                gap: 0;
                .social-card {
                    width:100%;
                }
            }
         } 
          
        .footer-content-wrapper .footer-content-container{
            margin-top: 20px;
            flex-direction: column;
            .footer-content{
                font-size: 13px;
                .desc-2{
                    font-size: 13px;
                }
            }
            .about{
                width: 100%;
                h3{
                    font-size: 15px;
                }

                ul li a{
                    font-size: 13px;
                }
            }
            .our-services{
                width: 100%;
                h3{
                    font-size: 15px;
                }

                ul li a{
                    font-size: 13px;
                }
            }
           .contact{

             h3{
                font-size: 15px;
            }
            .city{
                font-size: 14px;
            }
            p{
                font-size: 13px;
            }
        }
        }
        .copyright-container{
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-inline: 20px;
        }
        .chat-btn-container{
            bottom: 40px;
            right: 20px;
        }
         
    }
}

@media screen and (max-width:390px){
    footer{
        .social-card-wrapper{
            .social-card-container{
                width: 100%;
            }
            .social-indicator-container{
                gap: 25px;
                button{
                    gap: 25px;
                    width: 30px;
                    height: 30px;
                    img{
                        width: 22px;
                    }
                }
            }
        } 
        .chat-btn-container{
            bottom: 45px;
            right: 15px;
            .chat-btn{
                width: 46px;
                height: 46px;
                img{
                    width: 23px;
                    height: 23px;
                }
            } 
        }
    }
}