@use "../base/reset" as *;
@use "../abstracts/index" as *;

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(20px,$fs-46px, $fs-46px) clamp(10px,$fs-28px, $fs-28px) clamp(20px, $fs-60px, $fs-60px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: all 0.3s ease-in;
    .logo-container .logo{
        width:clamp(140px, $fs-292px, $fs-292px);
        display: inline-block;
        img{
            width: 100%;
            &.logo-black{
                display: none;
            }
        }
        
    }
    .header-actions{
        display: flex;
        gap: 15px;
        align-items: center;
        nav{
            padding-right:clamp(15px, $fs-24px,$fs-24px);
            ul{
                display: flex;
                margin-bottom: 0;
                padding-left: 0;
                li{
                    list-style: none;
                    .nav-link{
                        font-size:clamp(14px, $fs-24px,$fs-24px);
                        color: $white;
                        font-weight: 300;
                        position: relative;
                        padding-inline: clamp(10px, $fs-31px, $fs-31px);
                        transition: all 0.3s ease-in;
                        
                    }

                    .nav-link::before{
                        content: '';
                        position: absolute;
                        top: calc(clamp(15px, $fs-32px, $fs-32px) * -1);
                        height: 4px;
                        left: -3px;
                        background-color: $orange-33;
                        transform: scale(0);
                          width: 105%;
                        transition: all 0.5s ease-in;
                    }
                    .nav-link.active::before,.nav-link:hover::before{
                        display: block;
                        // width: 105%;
                        transform: scale(1);
                    }
                }   
            }
        }
        .book-btn{
            font-size: clamp(14px, $fs-23px, $fs-23px);
            padding: clamp(15px, $fs-33px, $fs-33px) clamp(20px, $fs-38px,$fs-38px) clamp(15px, $fs-33px, $fs-33px) clamp(20px, $fs-35px,$fs-35px) ;
            border: none;
            background-color: $orange-33;
            font-weight: 500;
            color: $white;
            &:hover{
                background-color:$white;
                color: $orange-33;
            }
            &.not-active{
                display: none;
            }
        }
        
    }
    .nav-control-btn{
        background: transparent;
        border: none;
        cursor: pointer;
        display: none;
    }
    .menu-btn{
        z-index: 3;
        pointer-events: none;
        img{
            filter: invert(1);
        }
    }
    .close-btn{
        display: none;
        pointer-events: none;
        img{
            width: 20px;
            height: auto;
        }
    }
    &.scrolled{
        background-color: $white;
        box-shadow: $box-shadow-2;
        .logo-container .logo{
            img.logo-white{
                display: none;
            }
            img.logo-black{
                display: block;
            }
        }
        .header-actions{
            nav ul li{
                .nav-link{
                    color: $black;
                    .dropdown-arrow{
                        filter: invert(1);
                    }
                }
            }
            .book-btn{
                transition: all 0.3s ease-in;
                color: $black;
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        } 
        .menu-btn img{
            filter: invert(0);
        }
    }
    
}

@media screen and (max-width:1400px){
    .home-header{
        .header-actions{
        nav ul li
        .nav-link
        .dropdown-arrow{
            width: 11px};
        }
    }
}

@media screen and (max-width:1200px){
    .home-header{
        .header-actions{
            nav ul li
            .nav-link::before{
                height: 3px;
                width: 100%;
                top: calc(clamp(15px, $fs-33px, $fs-33px) * -1);
            }
        }
    }
}

@media screen and (max-width:1024px){
    .home-header{
        .header-actions{
        nav ul li
        .nav-link
        .dropdown-arrow{
            width: 10px};
        }
    }
}

@media screen and (max-width:1024px){
    .home-header{
        .header-actions{
        nav ul li
        .nav-link
        .dropdown-arrow{
            width: 10px};
        }
    }
}

@media screen and (max-width:768px){
    .home-header{
        padding: 12px 20px;
        .nav-control-btn{
            display: inline;
        }
        .menu-btn{
            opacity: 1; 
            pointer-events: all;
            img{
                width: 20px;
               
            }
        }

        .header-actions{
            position: fixed;
            width: 100%;
            left: 0;
            top: -100%;
            height: 100%;
            transition: top 0.6s ease-in-out, background-color 0.6s ease-in-out;
            pointer-events: none;
            flex-direction: column;
            justify-content: center;
            z-index: 5;
            gap: 25px;
            .search-container{
                display: none;
            }
            nav{
                padding-right: 0;
                ul{
                    flex-direction: column;
                    gap: 25px;
                    li .nav-link{
                        display: inline;
                    }
                }
            } 
            .close-btn{
               position: absolute;
               top: 0;
               right: clamp(20px, $fs-96px, $fs-96px);
               opacity: 0;
               pointer-events: none;
               transition:opacity 0.1s ease-in-out;
               &.active{
                top: 10px;
                opacity: 1;
                pointer-events: all;
                transition:opacity 0.3s ease-in-out 0.5s;
               }
            }
           
            .auth-btn{
                padding: 10px 25px 9px;
            }
        }
        .header-actions.active{
            top:0px;
            background-color: $white;
            pointer-events: all;
        }
    }
}