@use "../base/reset";
@use "../abstracts/index" as *;
@use "../layout/index" as *;


.product-wrapper {
  .hero-section {
    position: relative;
    
    .banner-img{
      width: 100%;
    }
    .overlay{
      position: absolute;
      inset: 0;
      background-color: $black-17;
    }
    
    .hero-content-container {
      position: absolute;
      top: 72.8%;
      left: 50%;
      transform: translate(-50%, -72.8%);
      text-align: center;
      color: $white;
      p {
        font-size: clamp(13px, $fs-20px, $fs-20px);
        font-weight: 300;
        color: $white-80;
        font-family: "Open Sans", sans-serif !important;
        margin-bottom: 5px;
        line-height: 1;
      }
      h2 {
        font-size: clamp(24px, $fs-78px, $fs-78px);
        font-weight: 900;
        text-align: center;
        line-height: 1;
      }
    }
  }
  .intro{
    padding: clamp(30px, 6.25%, 6.25%) clamp(30px, 5.21%, 5.21%);
    .header-wrapper {
      text-align: center;
      margin-bottom: clamp(40px, $fs-92px, $fs-92px);
      h2 {
        font-size: clamp(24px, $fs-48px, $fs-48px);
        font-weight: 900;
        line-height: 1;
        margin-bottom: clamp(20px, $fs-40px, $fs-40px);
      }
      p {
       font-size: clamp(14px, $fs-24px, $fs-24px);
        color: $grey-c2;
        text-align: center;
        width: 56%;
        margin: 0 auto;
        line-height: 1.33;
      }
    }
    .content-wrapper{
        text-align: center;
        .prod-img-wrapper{
            margin: 0 auto;
            width: 58.15%;
            img{
                width: 100%;
            }
            margin-bottom: clamp(20px, $fs-40px, $fs-40px);
        }
        .download-container{
          .text{
            font-size: clamp(16px, $fs-23px, $fs-23px);
            color: $black;
            margin-bottom: clamp(20px, $fs-35px, $fs-35px);
          }
          .btn-container{
            display: flex;
            gap: clamp(25px, $fs-70px, $fs-70px);
            justify-content: center;
            button{
              border: none;
              background-color: transparent;
              cursor: pointer;
              img{
                width: clamp(130px, $fs-237px, 237px);
            }
            &:hover{
              img{
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
  .feature{
    background: url("../images/products/features_banner_img.jpg") no-repeat center / cover;
    padding: clamp(30px, 4.69%, 4.69%) clamp(30px, 5.21%, 5.21%) clamp(30px, 6.78%, 6.78%);
    .header-wrapper {
      text-align: center;
      margin-bottom: clamp(40px, $fs-92px, $fs-92px);
      h2 {
        font-size: clamp(24px, $fs-48px, $fs-48px);
        font-weight: 900;
        line-height: 1;
        margin-bottom: clamp(20px, $fs-40px, $fs-40px);
        color: $white;
      }
      p {
       font-size: clamp(14px, $fs-24px, $fs-24px);
        color: $white;
        text-align: center;
        width: 56%;
        margin: 0 auto;
        line-height: 1.33;
      }
    }
    .card-wrapper{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      // border: 0.5px solid $blue-ad;
        
      .card{
        padding: clamp(15px, $fs-75px, $fs-75px);
        background-color: transparent;
        border-color: $blue-ad;
        text-align: center;
        border-radius: 0;

        .img-wrapper{
          margin:0 auto clamp(15px, $fs-30px, $fs-30px);
          width: clamp(28px, $fs-50px, 50px);

          img{
            width: 100%;
          }
          &.img-wrapper-2{
            width: clamp(34px, $fs-57px, 57px);
          }
          &.img-wrapper-3{
            width: clamp(29px, $fs-51px, 51px);
          }
          &.img-wrapper-4{
            width: clamp(37px, $fs-61px, 61px);
          }
          &.img-wrapper-5{
            width: clamp(33px, $fs-58px, 58px);
          }
          &.img-wrapper-6{
            width: clamp(38px, $fs-64px, 64px);
          }

        }
        h3{
          color: $white;
          font-size: clamp(16px, $fs-28px, $fs-28px);
          margin-bottom: clamp(12px, $fs-25px, $fs-25px);
        }
        .text{
          color:$white;
          opacity: 0.85;
          font-size: clamp(13px, $fs-19px, $fs-19px);
          line-height: 1.34;
          width: 85%;
          margin: 0 auto;
        }
        &.card-1,&.card-2,&.card-3{
          border-bottom: none;
        }
        &.card-1,&.card-2,&.card-4,&.card-5{
          border-right: none;
        }
      }
    }
  }
  .screenshot{
    padding: clamp(30px, 6.25%, 6.25%) clamp(20px, 5.21%, 5.21%) clamp(30px, 6.78%, 6.78%);
    .header-wrapper {
      text-align: center;
      margin-bottom: clamp(30px, $fs-60px, $fs-60px);
      h2 {
        font-size: clamp(24px, $fs-48px, $fs-48px);
        font-weight: 900;
        line-height: 1;
        margin-bottom: clamp(20px, $fs-40px, $fs-40px);
      }
      p {
       font-size: clamp(14px, $fs-24px, $fs-24px);
        color: $grey-c2;
        text-align: center;
        width: 56%;
        margin: 0 auto;
        line-height: 1.33;
      }
    }
    .slider-outer-wrapper{
      .tab-btn-container{
        display: flex;
        justify-content: center;
        gap: clamp(25px, $fs-60px, $fs-60px);
        margin-bottom: clamp(20px, $fs-50px, $fs-50px);
        .tab-btn{
          border: none;
          background-color: transparent;
          font-size: clamp(17px, $fs-30px, $fs-30px);
          color: $grey-e9;

          &.active{
            color: $orange-33;
          }
        }
      }
      .slider-inner-wrapper{
        position: relative;
        .slider-outer-container{
          width: 78%;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
        
          .slider-inner-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(15px, $fs-30px, $fs-30px);
            .slider{
              transform: scale(1);
              .img-wrapper{
                  img{
                   width: clamp(290px, $fs-542px, 542px);

                   &.screenshot3-img{
                    width: clamp(291px, $fs-543px, 543px);
                   }
                    &.screenshot1-img{
                    width: clamp(315px, $fs-582px, 582px);
                   }
                  }
                }
              &.active{
                transform: scale(1);
                  position: relative;
                  padding-bottom: 20px;
                // -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 4px 5px rgba(0,0,0,0); 
                // box-shadow: 0px 10px 13px -7px #000000, 0px 2px 4px 5px rgba(0,0,0,0);
                z-index: 2;
                .img-wrapper{
                  padding: clamp(16px, $fs-25px, $fs-25px);
                  border-top-right-radius: 20px;
                  border-top-left-radius: 20px;
                  background-color: $white-f9;
                  img{
                    border: 1px solid $black-20;
                  }

                }
              
              }
              &.active::after{
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 140%;
                height: 20px;
                z-index: 4;
                background: radial-gradient(
                  ellipse at center,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0) 70%
              );
              filter: blur(4px);
            }

          }

        }
        
        }
        .slider-indicator-container{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          z-index: 2;
          button{
            position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              width: clamp(35px, $fs-70px, $fs-70px);
              height: clamp(35px, $fs-70px,$fs-70px);
              border-radius: 50%;
              border: none;
              background-color: white;
              box-shadow: $box-shadow-1;
              z-index: 2;
              img{
                width:clamp(9px, $fs-16px, 16px);
                display: block; 
              }
              &:hover{
                box-shadow: $box-shadow-2;
              img{
                filter: invert(1);
              }
            }
            &.prev-btn{
              left: 0;
            }
            &.next-btn{
              right: 0;
            }
          }
        }

      }
      .try-btn-container{
        text-align: center;
        .try-btn{
          margin: clamp(30px, $fs-110px, $fs-110px) auto 0;
          font-size: clamp(15px, $fs-20px, $fs-20px);
          background-color: transparent;
          border: 2px solid $orange-37;
          color: $orange-37;
          font-weight: 700;
          display: inline-flex;
          align-items: center;
          gap: 15px;
          padding: clamp(12px, $fs-17px, $fs-17px) clamp(20px, $fs-25px, $fs-25px);
          cursor: pointer;

          img{
            width: 11px;
            transition: transform 0.3s ease;
          }

          &:hover{
            img{
              transform: translateX(4px);
            }
          }
        }
      }
    }
  }
  .people-say.product{
    background-color: $white-f8;
    padding-bottom: clamp(30px, 4.69%, 4.69%);

    .testimonial-slider-wrapper .testimonial-slider-container .testimonial-card {
      box-shadow: none;
    }
  }
  .question{
    padding: clamp(30px, 6.25%, 6.25%) clamp(30px, 5.21%, 5.21%) clamp(30px, 6.78%, 6.78%);
    .header-wrapper {
      text-align: center;
      margin-bottom: clamp(40px, $fs-92px, $fs-92px);
      h2 {
        font-size: clamp(24px, $fs-48px, $fs-48px);
        font-weight: 900;
        line-height: 1;
        margin-bottom: clamp(18px, $fs-25px, $fs-25px);
      }
      p {
       font-size: clamp(14px, $fs-24px, $fs-24px);
        text-align: center;
        width: 50%;
        color: $grey-c2;
        margin: 0 auto;
        line-height: 1.33;
      }
    }
    .content-container{
      display: flex;
      justify-content: center;
      width: 93.03%;
      margin: 0 auto;
      border-radius: clamp(12px, $fs-20px, $fs-20px);
      overflow: hidden;
      .demo-container{
        width: 50%;
        padding:clamp(40px, $fs-130px, $fs-130px) clamp(40px, $fs-92px, $fs-92px);
        background: url("../images/products/demo_img.jpg") no-repeat center / cover;
        .desc{
          font-size: clamp(14px, $fs-24px, $fs-24px);
          text-align: center;
          margin:0 auto clamp(30px, $fs-70px, $fs-70px);
          width: 60%;
          line-height: 1.3;
          color:$white;
        }
        .demo-btn-container{
          text-align: center;
        
          .demo-btn{
            font-size: clamp(14px, $fs-20px, $fs-20px);
            background-color: $orange-33;
            border: 1px solid $orange-33;
            color: $white;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            gap: clamp(8px, $fs-18px, $fs-18px);
            padding: clamp(10px, $fs-17px, $fs-17px) clamp(20px, $fs-28px, $fs-28px);
            cursor: pointer;

            img{
              width: 11px;
            }
            &:hover{
              background-color: $white;
              border: 1px solid transparent;
              color: $black;
              img{
                filter: invert(1);
              }
            }
          }
        }
      }
      .contact-container{
        width: 50%;
        padding:clamp(40px, $fs-130px, $fs-130px) clamp(40px, $fs-92px, $fs-92px);
        background: url("../images/products/contactus_img.jpg") no-repeat center / cover;
        .desc{
          font-size: clamp(14px, $fs-24px, $fs-24px);
          text-align: center;
          margin:0 auto clamp(30px, $fs-70px, $fs-70px);
          width: 60%;
          line-height: 1.3;
          color:$white;
        }
        .contact-btn-container{
          text-align: center;
          .contact-btn{
            background-color: rgba(0, 0, 0, 0.3);
            color: $orange-47;
            border: 1px solid $orange-47;
            padding: clamp(10px, $fs-17px, $fs-17px) clamp(20px, $fs-28px, $fs-28px);
            font-size: clamp(14px, $fs-20px, $fs-20px);
            font-weight: 500;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: clamp(8px, $fs-18px, $fs-18px);

            img{
              width: 10px;
            }

            &:hover{
              background-color: $black;
              color: $white-80;
              border: 1px solid $white-80;

              img{
                filter: invert(0.5);
                
              }
            }
          }
        }
      }
    }
  }
}


footer.product-footer .footer-content-wrapper{
  padding-top: 10px;
}

//responsive

@media screen and (max-width:1280px){
  .product-wrapper{
    .feature .card-wrapper .card .text {
      width: 89%;
    }
    .screenshot .slider-outer-wrapper{
      .slider-inner-wrapper .slider-outer-container {
        width: 80%;
      }
      .try-btn-container .try-btn img{
        width: 9px;
      }
    } 
    
    .question .content-container{
      .demo-container .demo-btn-container .demo-btn img,.contact-container .contact-btn-container .contact-btn img {
        width: 10px;
      }
    } 
  } 
}

@media screen and (max-width:1200px){
  .product-wrapper{
    .intro{
      .header-wrapper p {
        width: 60%;
      }
      .content-wrapper .prod-img-wrapper{
        width: 62%;
      }
    } 
    .feature{
      .header-wrapper p{
        width: 60%;
      }
      .card-wrapper .card .text {
        width: 100%;
      }
    } 
    .screenshot{
      padding-inline: clamp(30px, 5%, 5%);
      .header-wrapper p{
        width: 60%;
      }

      .slider-outer-wrapper{
        .slider-inner-wrapper .slider-outer-container {
          width: 83%;
        } 
        .try-btn-container .try-btn img{
          width: 9px;
        }
      } 

    } 
    .question .content-container{
      .demo-container .demo-btn-container .demo-btn img,.contact-container .contact-btn-container .contact-btn img {
        width: 9px;
      }
    }
  } 
}

@media screen and (max-width:1024px){
  .product-wrapper{
    .intro .header-wrapper p {
      width: 80%;
    }
    .feature{
        padding: clamp(30px, 4.69%, 4.69%) clamp(20px, 5%, 5%) clamp(30px, 6.78%, 6.78%);
      .header-wrapper p{
        width: 80%;
      }
      .card-wrapper .card {
        padding-inline:clamp(15px, $fs-50px, $fs-50px) ;
       
      }
    } 
    
    .screenshot{
      padding-inline: clamp(20px, 5%, 5%);
      .header-wrapper p{
        width: 80%;
      }

      .slider-outer-wrapper{

        .slider-inner-wrapper .slider-outer-container {
          width: 83%;
          .slider-inner-container{
            .slider{
              .img-wrapper{
                width: 100%;
               img{
                &.screenshot3-img{
                  width: 301px;
                }
                &.screenshot2-img{
                  width: 302px;
                }
               }
              }
              &.active{
                .img-wrapper{
                  width: 100%;
                  img{
                    width: 360px;
                  }
                }
              } 
            }
          }
        }
        .try-btn-container .try-btn img{
          width: 8px;
        }
      } 

    } 
    .question{
      .header-wrapper p{
        width: 70%;
      }
      .content-container{
        width: 100%;
        .demo-container{
          .desc {
            width: 75%;
          }
          .demo-btn-container .demo-btn img{
            width: 8px;
          }
        } 
        .contact-container{
          .desc {
            width: 75%;
          }
          .contact-btn-container .contact-btn img{
            width: 8px;
          }
        } 
      } 
    } 
  } 
}

@media screen and (max-width:768px){
  .product-wrapper{
    .hero-section{
      .banner-img{
        height: 220px;
        object-fit: cover;
      }
      .hero-content-container{
        h2{
          font-size: clamp(24px, $fs-60px, $fs-60px);
          margin-bottom: 0;
        }
        p{
          font-size: clamp(14px, $fs-24px, $fs-24px);
          margin-bottom: 12px;
        }
      }
    }
    .intro{
      .header-wrapper p {
        width: 100%;
      }
      .content-wrapper .prod-img-wrapper{
        width: 70%;
      }
    } 
    .feature{
      .header-wrapper p{
        width: 100%;
      }
      .card-wrapper {
        grid-template-columns: repeat(2,1fr);
        .card{
          &.card-2,&.card-4{
            border-right: 1px solid $blue-ad;
          }
          &.card-3{
            border-right: none;
          }
           &.card-4{
            border-bottom: none;
          }
        }
      }
    } 
    .screenshot{
      .header-wrapper p{
        width: 100%;
      }
      .slider-outer-wrapper{
        .try-btn-container .try-btn {
          border-width: 1px;
        }
        .slider-inner-wrapper{
          .slider-indicator-container{
            position: relative;
            top: unset;
            transform: unset;
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 25px;
            button{
              position: relative;
            }
          }
          .slider-outer-container{
            width: 88.6%;
            .slider-inner-container{
              .slider{
                flex: 0 0 100%;
                width: 100%;
                .img-wrapper{
                  width: 100%;
                  img{
                    &.screenshot3-img{
                      width: 100%;
                    }
                    &.screenshot2-img{
                      width: 100%;
                    }
                  }
                }
                &.active{
                  width: 100%;
                  .img-wrapper{
                    width: 100%;
                    img{
                      width: 100%;
                    }
                  }
                } 
              }
            }
          } 
        }
      }
    }
    .question{

      padding-inline: clamp(20px, 5%, 5%);
      .header-wrapper p{
        width: 85%;
      }
      .content-container{
        flex-direction: column;
        .demo-container,.contact-container{
          aspect-ratio: 16 / 9;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .desc{
            font-size: 15px;
            
          }
        }
      }
    }
    
  } 
  
}

@media screen and (max-width:600px){
  .product-wrapper{
    .intro{
      padding-inline: clamp(20px, 5%, 5%);
      .content-wrapper .prod-img-wrapper{
        width: 90%;
      }
    } 
    .feature{
      
      .card-wrapper {
        grid-template-columns: repeat(1,1fr);
        .card{
          h3{
            font-size: 17px;
          }
          .text{
            font-size: 14px;
          }
          &.card-1,&.card-3,&.card-5{
            border-right: 1px solid $blue-ad;
          }
           &.card-5{
            border-bottom: none;
          }
        }
      }
    } 
    .screenshot{
      .slider-outer-wrapper{
        .try-btn-container .try-btn {
          border-width: 1px;
        }
        .slider-inner-wrapper .slider-outer-container{
          width: 100%;
          
        }
      }
    }
    .question{
       .header-wrapper p{
        width: 100%;
      }
      .content-container{
        .demo-container,.contact-container{
          .desc{
            font-size: 15px;
            width: 80%;
          }
        }
      }
    }
    
  } 
  
}

@media screen and (max-width:480px){
  .product-wrapper{
    .intro{
      padding-inline: 20px;
      .header-wrapper h2{
        font-size: 23px;
      }
      .content-wrapper .prod-img-wrapper{
        width: 100%;
      }
    } 
    .feature{
      padding-inline: 20px;
      .header-wrapper h2{
        font-size:23px;
      }
    } 
    .screenshot{
      padding-inline: 20px;
      .header-wrapper h2{
        font-size: 23px;
      }
    }
    .question{
      padding-inline: 20px;
       .header-wrapper h2{
        font-size: 23px;
      }
      .content-container{
        .demo-container,.contact-container{
          padding-inline: 30px;
          .desc{
            
            font-size: 15px;
            width: 100%;
          }
        }
      }
    }
  
  } 
  
}

@media screen and (max-width:390px){
  .product-wrapper{
    .intro{
      .header-wrapper h2{
        font-size: 22px;
      }
      .content-wrapper .download-container .btn-container {
        gap: 20px;
      }
    } 
    .feature{
      .header-wrapper h2{
        font-size:22px;
        line-height: 1.2;
      }
    } 
    .screenshot{
      .header-wrapper h2{
        font-size: 22px;
      }
    }
    .question{
      .header-wrapper h2{
        font-size: 22px;
        line-height: 1.2;
      }
      .content-container{
        border-radius: 10px;
        .demo-container,.contact-container{
          padding:30px 15px;
          .demo-btn-container .demo-btn{
            width: 168px;
          }
        
          .contact-btn-container .contact-btn{
            width: 168px;
            justify-content: center;
          }
        }
      }
    }
  
  } 
  
}